.navbar {
    background-color: #ffc03d;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    opacity: 0.8;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 20px;
    background: none;
  }
  
  .nav-menu {
    background-color: #ffc03d;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    background-color: transparent;
    opacity: 0.8;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 60px;
    width:max-content;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    gap:5px;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #212d45;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #ffc03d;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.8;
  }
  
  .span {
    margin-left: 16px;
  }
  .navbar-logout-button-container{
    display:flex;
    gap:20px;
  }
  .navbar-nav-item-name{
    color:#000;
    font-size:18px;
    font-weight:600;
    margin:0px;
  }
  .navbar-logout-button{
    background-color: #fff;
    border-radius:20px;
    padding:4px 12px;
    color:#000;
    margin-right:20px;
    font-size:16px;
    cursor:pointer;
    min-width:max-content;
    border:none;
  }
  .content-container {
    width: 100%; /* Adjust for the width of the closed sidebar */
 /* Initial margin when the sidebar is closed */
  /* Add smooth transitions */
    background-color: #fff;
    opacity: 1;
    transition: 0.1s;
  }
  
  .content-container.shifted {
    width: calc(100% - 250px); /* Adjust for the width of the opened sidebar */
    margin-left: 200px; /* Margin when the sidebar is opened */
  }
  .active-nav-item{
    background-color: #212d45;
  }
  .navbar-container{
    background-image: url('https://www.goldmansachs.com/intelligence/pages/the-long-and-short-of-it/paper-and-packaging-industry/800x450.png');
    background-size: cover;
    width:100%;
    height:100vh;
  }
  .toggle{
    opacity:0;
  }