.signin-div-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height:100vh;
}
.signin-form-main-container {
    width: 24%;
    margin: 70px;
    padding: 10px;
    border: 2px solid #20b2aa;
    border-radius: 5px;
    box-shadow: 0 0 20px #282046(0, 0, 0, 0.1);
    
  }
  .signin-form-heading-container{
    font-size:32px;
    font-weight:600;
    color:#000;
  }
  .singin-form-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signin-form-group-container {
    margin-bottom: 20px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:4px;
    
  }
  
.singnin-form-lable-container {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signin-input-text {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid#000080;
    border-radius: 7px;
  }
  
.signin-form-button-container {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .signin-form-button-container :hover {
    background-color: #45a049;
  }
  .signin-staff-customer-button-container{
    display:flex;
    justify-content: space-between;
    width:100%;
  }
  .signin-staff-button{
    border:none;
    width:45%;
    padding:8px 0px;
    background-color: #4caf50;
    border-radius:4px;
    font-size:16px;
    color:#fff;
    cursor:pointer;
    font-weight:600;
  }
  .signin-customer-button{
    border:none;
    width:45%;
    padding:8px 0px;
    border:1px solid grey;
    border-radius:4px;
    font-size:16px;
    color:#000;
    cursor:pointer;
    background-color: #fff;
    font-weight:600;
  }
  @media  (min-width: 512px) and ( max-width: 768px) {
    .signin-form-main-container {
        width: 60%;
      
      }
  }
  @media (max-width:512px){
    .signin-form-main-container {
        width: 100%;
      
      }
  }
@media (max-width: 768px) {
    .signin-form-heading-container {
      font-size: 24px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .signin-form-main-container{
      width: 40%;
    }
  } 
  