.dimensions-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.dimensions-form-container {
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #d7dade;
  margin-bottom: 20px;
  padding: 20px;
}

.dimensions-input-container {
  margin-bottom: 10px;
}

.dimensions-label-text {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px !important;
}

.dimensions-input {
  height: 38px;
  width: 70%;

  margin-right: 5px;
  border-radius: 5px;
  border-width: 1px;
}
.dimension-select-container{
  display:flex;
  align-items: center;
  margin-top: 9px;
}
.dimensions-select {
  height: 38px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  width: 20%;
}

.dimensions-button {
  height: 45px;
  width: 150px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border-width: 0px;
  background-color: #20b2aa;
}
