.forgot-password-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
 
  .forgot-password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  .forgot-password-heading {
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 22px;
  }
 
  .forgot-password-form-container {
    width: 300px;
  }
 
  .forgot-password-lable-container {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
  }
 
  .forgot-passsword-input-container {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
  .forgot-password-button-container {
    text-align: center;
  }
 
  .forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #ffc03d;
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
 
  .forgot-password-button:hover {
    background-color: #f5de69;
  }
 